.nav-container {
  min-height: 25vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-container {
  position: relative;
}
.nav-logo-container img {
  max-height: 25vh;
}

.nav-logo-container .logo {
  max-height: 22vh;
  position: absolute;
  top: 3%;
  left: 13%;
  cursor: pointer;
}

nav .center {
  display: flex;
  column-gap: 40px;
  white-space: nowrap;
}

nav .center p::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ffa230;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav .center p:hover::after {
  width: 100%;
}

nav p {
  cursor: pointer;
  font-family: Pangolin, arial;
}

nav .right-image-container {
  position: relative;
  min-width: 251.92px;
  display: flex;
  justify-content: right;
}

nav .contact {
  position: absolute;
  top: 41%;
  right: 15%;
  cursor: pointer;
  font-family: tex, arial;
}

footer {
  background-color: black;
  border-radius: 10% 10% 0px 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  white-space: nowrap;
  margin-top: 100px;
  position: relative;
}

footer p {
  font-family: Pangolin, arial;
  color: white;
}

footer .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  font-size: 20px;
  margin-bottom: 30px;
}

footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .copyright p {
  color: rgb(151, 151, 151);
}
