.hero-section-mobile {
  display: none;
  width: 100vw;
}

@media (max-width: 1200px) {
  .hero-section {
    display: none;
  }

  .hero-section-mobile {
    display: block;
  }

  .hero-section-mobile .hello {
    height: 75vh;
    width: 100vw;
  }

  .hero-section-mobile .hello-text {
    position: absolute;
    top: 25%;
    font-size: 120px;
    cursor: default;
  }

  .about-container {
    width: 100vw;
  }

  .about {
    width: 100vw;
  }

  .about .img-container img {
    width: 100%;
    height: auto;
  }

  .about .about-grid {
    display: flex;
    flex-direction: column;
  }

  .worldDownloads {
    min-width: 100vw;
    height: auto;
  }

  .worldDownloads .text-container h2 {
    font-size: 50px;
  }

  .socials-container {
    display: none;
  }

  .socials-container-mobile {
    display: block;
  }

  .socials-container-mobile .socials-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    text-align: center;
  }

  .socials-container-mobile .title {
    font-family: bold, arial;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 5vh;
    border-bottom: black 4px solid;
  }

  .socials-container-mobile .socials {
    margin-bottom: 2vh;
  }

  .socials-container-mobile .socials img {
    width: 40px;
  }

  .socials-container-mobile .socials p {
    font-size: 20px;
    font-family: bold, arial;
  }

  .socials-container-mobile .subtext {
    font-size: 20px;
    font-family: bold, arial;
  }

  footer .nav {
    flex-direction: column;
  }

  footer .nav a {
    padding: 1vh;
  }
}
